body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    font-family: sans-serif;
    user-select: none;

}

#root {
    width: 100%;
}



.text-primary{
    color: deepskyblue !important;
}

.btn-primary{
    background-color: deepskyblue !important;
}

.btn-primary:hover{
    background-color: blue !important;
}

.text-secondary{
    color: black !important;
}

/* Une classe personnalisée pour le style spécifique des cartes */
.card-litteral {

    user-select: none;
    border: none !important; /* On enlève la bordure Bootstrap classique */

    /* 1. L'ombre portée large et douce */
    box-shadow: 0 10px 30px rgba(102, 126, 234, 0.1) !important;

    /* 2. La bordure colorée uniquement sur le côté gauche */
    border-left: 8px solid deepskyblue !important; /* Ton Aqua/Deepskyblue */

    /* Assure que la bordure suit l'arrondi du coin */
    overflow: hidden;

    background-color: aliceblue;
}